body{
  background: #e7f2ff;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
}
header{
  text-align: center;
  padding: 5px 10px;
  background: #6969ff;
}
h1{
  margin: 25px auto;
}


#opinnot{
  width: 33%;
  margin: auto;
  margin-top: 10px;
  background: #cacaff;
  border: 1px #6969ff solid;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
#opinnotTaulukko{
  margin: auto;
}


#alue1{
  width: 70%;
  background: #6969ff80;
  padding: 10px;
  margin: auto;
  border: double #6969ff;
}
#alue1 h1{
  padding-left: 10px;
}



.navigaatioDIV{
  background: #000;
  height: 75px;
  position: fixed;
  top: 100px;
  left: 90px;
}
.navigaatio{
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  display: block;
  width: 100px;
  height: 15px;
}
.NAVnappi{
  color: #fff;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
.NAVnappi:hover{
  color: #ff0000;
}
.NAVnappi:active{
  color: #fff;
}

#teemaNappi{
  position: fixed;
  top: 100px;
  right: 90px;
}
#teemaDIV{
  display: none;
  background: #000;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 90px;
  padding: 5px;
}
.teemaVaihto{}


.lomake{
  display: block;
  padding: 10px 10px;
}
.lomakeElementti input, .lomakeElementti textarea, .lomakeElementti select{
  width: 100%;
}


.laatikko{
  background: #6969ff50;
  float: left;
  width: 25%;
  border: 3px double #6969ff;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 25px;
  height: 100px;
}